In [1]:
import numpy as np
import pandas as pd

How many observations are there in the sample? Discuss the structure of the dataset: how many quantitative and how many qualitative variables do we have? Are there any missing data? (0.5point) • Provide and describe appropriate frequency tables or descriptive statistics for the variables (take into account the type of the variables!) (0.5point). • Present and discuss (where appropriate) variables’ distributions, especially compare them with the normal distribution (e.g. with histograms, density functions, qqplots...). (2points)

In [4]:
# Subtask 1

data = pd.read_csv("earnings.csv", delimiter=';')
print(data.head())
data.describe()

,id,base,bonus,overtime_pay,other,sector,section_07,sex,education,contract,age,duration_total,duration_entity,duration_nominal,duration_overtime
0,192064,26651.53,0.0,0.00,0.00,1,3,2,4,1,49,33.03,7.06,1524.15,0.0
1,25495,40168.50,1500.0,0.00,3414.32,1,2,1,1,1,36,10.07,6.01,1562.40,0.0
2,142164,20134.80,0.0,0.00,1700.41,1,2,2,4,1,52,28.08,19.05,1816.00,0.0
3,198034,16475.00,0.0,0.00,1305.00,1,2,2,5,1,55,35.07,11.01,1816.00,0.0
4,144990,34797.60,0.0,1893.35,3118.73,1,2,2,2,1,50,27.00,19.01,722.80,63.0

In [6]:
print(f"Number of observations is: {len(data)}.")
print(f"There are {len(data.columns)} variables.")
print(f"The variables are: {data.columns.values} in total.")

qual_vars = ['id', 'sector', 'section_07', 'sex', 'education', 'contract']
quant_vars = data.columns.values[~data.columns.isin(qual_vars)]
print(f"There are {len(qual_vars)} qualitative variables and {len(quant_vars)} quantitative variables.")
print(f"The qualitative variables are: {qual_vars}.")
print(f"The quantitative variables are: {quant_vars}.")
print(f"There is no null data:\n{data.isnull().sum()}.")

Number of observations is: 11000
There are 15 variables.
The variables are: ['id' 'base' 'bonus' 'overtime_pay' 'other' 'sector' 'section_07' 'sex'
 'education' 'contract' 'age' 'duration_total' 'duration_entity'
 'duration_nominal' 'duration_overtime'] in total.
There are 6 qualitative variables and 9 quantitative variables.
The qualitative variables are: ['id', 'sector', 'section_07', 'sex', 'education', 'contract']
The quantitative variables are: ['base' 'bonus' 'overtime_pay' 'other' 'age' 'duration_total'
 'duration_entity' 'duration_nominal' 'duration_overtime']

In [7]:
# how many null data
print(data.isnull().sum())

id                   0
base                 0
bonus                0
overtime_pay         0
other                0
sector               0
section_07           0
sex                  0
education            0
contract             0
age                  0
duration_total       0
duration_entity      0
duration_nominal     0
duration_overtime    0
dtype: int64